<div class="col border rounded buyDiv">
    <form>
        <div class="form-row">
            <div class="form-group col">
                <label for="inputState">Trade Strategy</label>
                <select id="inputState" class="form-control" [(ngModel)]="strategy"[ngModelOptions]="{standalone: true}" (change)="changeStrategy(displayToTable[strategy])">
                    <option *ngFor="let strategy of strategies">{{strategy.displayName}}</option>
                </select>
            </div>
        </div>
    </form>
    <h1>Current Profit : ${{round(profitPerTable[displayToTable[strategy]])}}</h1>
    <div><canvas id="lineChart"></canvas></div>

    <div>
        <table class="table table-hover" *ngIf="this.tables[displayToTable[strategy]] && this.tables[displayToTable[strategy]].length" >
            <thead class="thead-dark">
                <tr>
                    <th scope="col" *ngFor="let column of columnHead">{{column}}</th>
                </tr>
            </thead>
            <tbody>
                <!--"Symbol", "Quantity", "Purchase Price", "Gain/Loss ($)","Status", "Option"-->
                <tr class="{{colorTableRow(option.stopped)}}" *ngFor="let option of this.tables[displayToTable[strategy]]">
                    <td>{{option.stock.ticker}}</td>
                    <td>{{option.size}}</td>
                    <td>{{round(option.profit)}}</td>
                    <td *ngIf="option.stopped else open">{{option.stopped}}</td>
                    <td *ngIf="option.stopped else stopButton">Closed</td>
                    <ng-template #stopButton><td><button type="button" class="btn btn-danger"  (click)="stopStrategy(option.id, displayToTable[strategy])">Stop</button></td></ng-template>
                    <ng-template #open><td>Running</td></ng-template>
                </tr>
            </tbody>
        </table>
    </div>

</div>
