<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="">Stock Swingers</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav .justify-content-center ml-auto" routerLinkActive = "active">
      <li class="nav-item">
        <a class="nav-link " routerLink ="">Buy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="positions">Positions</a>
      </li>
    </ul>

  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

