<div class="col border rounded buyDiv">
    <form>
        <div class="form-row">
            <div class="form-group col">
                <label for="inputCity">Stock Ticker</label>
                <input type="text" class="form-control"  [(ngModel)]="stockTicker" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col">
                <label for="inputCity" >Number of Shares</label>
                <input type="number" class="form-control" [(ngModel)]="shareCount" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group col">
                <label for="inputState">Trade Strategy</label>
                <select id="inputState" class="form-control" [(ngModel)]="strategy"[ngModelOptions]="{standalone: true}" (change)="getOptions(displayToTable[strategy])">
                    <option *ngFor="let strategy of strategies">{{strategy.displayName}}</option>
                </select>
            </div>
            <div class="form-group col-auto">
                <label for="inputCity">.</label>
                <button  *ngIf="strategyOptions['description']" class="btn btn-primary form-control dropdown-toggle" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"></button>
            </div>
        </div>
        <!--Option Row-->
        <div *ngIf="strategy">

            <div *ngIf="strategyOptions['description']" class="collapse form-row card card-body" id="collapseExample">
                    <p>{{strategyOptions["description"]}}</p>
            </div>
            
            <div class="form-row" *ngFor="let option of strategyOptions['options']">
                <label for="inputCity">{{option}}</label>
                <input type="number" class="form-control" [(ngModel)]="userSelections[option]" [ngModelOptions]="{standalone: true}">
            </div>
        </div>
        <!---->
        <div class="form-row center-div">
            <div class="col">
                <button type="submit" class="btn btn-success subButton" (click)="validate()">Submit Strategy</button>
            </div>
        </div>
    </form>
</div>
