/* You can add global styles to this file, and also import other style files */
body {
    margin : 0px;
    padding: 0px;
}

.navbar {
    margin-bottom: 2%;
}

.center-div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.buyDiv {
    padding : 2%;
}

p {
    text-align: justify;
  }